<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>GRADE</th>
      <th>EMAIL</th>
      <th>UNIVERSITY</th>
      <th>GENDER</th>
      <th>BIRTHDAY</th>
      <th>MARRIED</th>
      <th>PERFORMANCE</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.name %></td>
        <td><%= u.grade %></td>
        <td><%= u.email %></td>
        <td><%= u.university %></td>
        <td><%= u.gender %></td>
        <td><%= u.birthday.strftime('%F') %></td>
        <td><%= u.married %></td>
        <td><%= u.performance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
